.banner__media {
  max-width: 1200px;
  margin: auto;
  display: block;
}

.banner--content-align-center {
  display: flex;
  justify-content: center;
}

.banner__media>img {
    margin: auto;
  display: block;
}