@charset "UTF-8";
/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  color: inherit;
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

body {
  color: #2B1D0E;
  font-family: "Meiryo", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-size: 12px;
}

a:hover {
  opacity: 0.6;
}

.l-section {
  margin-bottom: 100px;
  margin-top: 60px;
}

.l-inner {
  height: inherit;
  margin: 0 auto;
  max-width: 100%;
  padding-left: 4%;
  padding-right: 4%;
  width: 1228px;
}

.c-info__list {
  display: grid;
  row-gap: 16px;
  list-style: none;
}

.c-info__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
  color: #2B1D0E;
          column-gap: 32px;
}

.c-info__date {
  letter-spacing: 0.1em;
}

.c-info__title {
  letter-spacing: 0.1em;
  overflow-wrap: anywhere;
  width: 100%;
  margin: 0;
}

.c-coupon:hover {
  opacity: 0.6;
}

.c-coupon__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 172px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.c-coupon__link:hover {
  opacity: 1;
}

.c-coupon__frame {
  border: 1px solid #4cc764;
  border-radius: 10px;
  color: #4cc764;
  height: 38px;
  line-height: 38px;
  width: 168px;
}

.c-coupon__txt {
  color: #4cc764;
  font-size: 10px;
  font-weight: 700;
  padding: 0 8px;
}

.c-coupon__icon {
  aspect-ratio: 1/1;
  background: no-repeat center center/cover;
  display: block;
  position: absolute;
  right: 0;
  width: 50px;
}

.c-ask {
  background-color: #4cc764;
  border-radius: 10px;
  width: 180px;
}

.c-ask__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-ask__icon {
  aspect-ratio: 1/1;
  background: no-repeat center center/cover;
  display: block;
  width: 40px;
}

.c-ask__txt {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.c-table {
  border: 1px solid #ddd; /* Table border */
  border-collapse: collapse;
  font-size: 12px;
  margin: 50px 0;
  text-align: left;
  width: 100%;
}

.c-table__body th {
  text-align: center;
}

.c-table__row {
  border: 1px solid #ddd;
}
.c-table__row th, .c-table__row td {
  border: 1px solid #ddd; /* Header cell border */
  letter-spacing: 0.1em;
  padding: 2em 1.25em;
}
.c-table__row th {
  background-color: transparent;
}

.c-mail__ttl {
  color: #B2A59A;
  font-size: 10px;
}

.c-mail__from {
  display: grid;
  margin: 1.25em 0 0;
  row-gap: 1.25em;
}
.c-mail__from input[type=mail] {
  border: 1px solid #2B1D0E;
  color: #B2A59A;
  padding: 1em;
  width: 100%;
}

.c-mail__btn {
  background-color: #B2A59A;
  border-radius: 32px;
  color: #fff;
  height: 24px;
  line-height: 24px;
  width: 118px;
}
.c-mail__btn:hover {
  opacity: 0.6;
}

.c-about__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-about__ttl {
  color: #B2A59A;
  font-size: 10px;
}

.c-about__sns {
  color: #B2A59A;
}
.c-about__sns svg {
  cursor: pointer;
  font-size: 20px;
  padding: 4px;
}
.c-about__body .c-about__sns {
  margin-top: 2em;
}

.c-about__lead {
  overflow-wrap: break-word;
}

.c-nav__ttl {
  color: #B2A59A;
  font-size: 10px;
}

.c-nav__list {
  display: grid;
  row-gap: 1.25em;
}

/*
 * 非表示
 */

 .u-icon--line {
  background-image: url(../img/icon-line.webp);
}

@media screen and (max-width: 767px) {
  .l-inner {
    padding-left: 24px;
    padding-right: 24px;
  }
  #fv .l-inner {
    padding-left: 0;
    padding-right: 0;
  }
  .c-info__list {
    row-gap: 32px;
  }
  .c-info__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 8px;
  }
  .c-about__head {
    display: block;
  }
  .c-about__sns svg {
    font-size: 32px;
    padding: 8px;
    height: 1em;
  }
  .p-news__list {
    max-width: 384px; /*追記*/
    padding: 0 24px;
  }
  .p-fv {
    height: 100vw;
  }
  .p-footer__upper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p-footer__block {
    max-width: 100%;
  }
  .p-footer__block:not(:first-child) {
    margin-top: 3em;
  }
  .p-footer__block--first > :nth-child(2) {
    margin-top: 3em;
  }

  .p-footer__block-ttl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1em 0;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    border-top: 1px solid #B2A59A;
    cursor: pointer;
            justify-content: space-between;
  }
  .p-footer__block-ttl::after {
    aspect-ratio: 1/1;
    border-left: 2px solid #B2A59A;
    border-top: 2px solid #B2A59A;
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    -webkit-transform: rotate(225deg);
    right: 1em;
            transform: rotate(225deg);
  }
  .is-open .p-footer__block-ttl::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .p-footer__sns {
    margin-top: 24px;
  }
 
  .p-footer__payment {
    width: 100%;
  }
  .u-hidden-sp {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .u-hidden-pc {
    display: none;
  }
}
