



@media screen and (max-width: 767px) {
  .l-inner {
    padding-left: 24px;
    padding-right: 24px;
  }
  #fv .l-inner {
    padding-left: 0;
    padding-right: 0;
  }
  .c-info__list {
    row-gap: 32px;
  }
  .c-info__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 8px;
  }
  .c-about__head {
    display: block;
  }
  .c-about__sns svg {
    font-size: 32px;
    padding: 8px;
    height: 1em;
  }
  .p-news__list {
    max-width: 384px; /*追記*/
    padding: 0 24px;
  }
  .p-fv {
    height: 100vw;
  }
  .p-footer__upper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p-footer__block {
    max-width: 100%;
  }
  .p-footer__block:not(:first-child) {
    margin-top: 3em;
  }
  .p-footer__block--first > :nth-child(2) {
    margin-top: 3em;
  }
  .p-footer__block-ttl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1em 0;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    border-top: 1px solid #B2A59A;
    cursor: pointer;
    justify-content: space-between;
  }
  .p-footer__block-ttl::after {
    aspect-ratio: 1/1;
    border-left: 2px solid #B2A59A;
    border-top: 2px solid #B2A59A;
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    -webkit-transform: rotate(225deg);
    right: 1em;
    transform: rotate(225deg);
  }
  .is-open .p-footer__block-ttl::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .p-footer__sns {
    margin-top: 24px;
  }
  .p-footer__payment {
    width: 100%;
  }
  .u-hidden-sp {
    display: none;
  }
}


